.filter {
  background-color: rgb(31, 31, 31);
  border: 2px solid #a892ee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: none;
}

.time-filter-section {
  padding: 0.5rem 0rem;
  border-top-left-radius: 12px;
}

.filter-button {
  font: inherit;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: rgb(59, 59, 59);
  color: white;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid #a892ee;
}

@media only screen and (max-width: 768px) {
  .filter-button {
    padding: 0.2rem;
    font-size: 0.75em;
  }

  .filter p {
    font-size: 0.75em;
    margin-top: 0px;
  }
}

.filter-button:hover {
  filter: brightness(1.2);
}
