.banner {
  font: inherit;
  text-align: center;
  justify-content: space-between;
  display: flex;
  color: #40005d;
  margin: none;
  background-color: #b19cd8;
  padding: 1rem;
  font-weight: bold;
}

.banner__settings {
  color: white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font: inherit;
  color: #40005d;
}

.banner__settings:hover {
  color: white;
  cursor: pointer;
}

.banner__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33%;
}

.banner__text {
  margin: none;
  font-size: 3rem;
}

@media only screen and (max-width: 500px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
