.new-expense {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  text-align: center;
}

.new-expense-button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #b19cd8;
  color: #40005d;
  border-radius: 8px;
  border: none;
}

.new-expense button:hover,
.new-expense button:active {
  filter: brightness(1.2);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
